# Dependencies
node_modules/

# Prisma
/generated/prisma
.env

# SQLite Database (CRITICAL)
# This ignores the actual database file and its temporary journals
*.db
*.db-journal

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db